In [4]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from datetime import datetime, timedelta


engine_Zeus = create_engine('postgresql://sa.jvcsec02:saJvcSec002IT@172.21.230.154:35432/ZEUS_IT')


spec ='S499.9BF/001'
# vari =''
# start ='25-11-2020'
# end ='25-11-2020'
# zero_h =' 00:00:00'
# start_day=start+zero_h
# end_day=end+zero_h

N= 3
start_time_day = datetime.now()- timedelta(days=N)
end_time = datetime.now()

query_barcodes = """SELECT ID_SPECIFICATION,ID_BARCODE FROM IT_ST_CAN_BUI_DBM68.EXT_EVENT_LOG WHERE (ID_SPECIFICATION = '{x}') AND (ID_BARCODE IS NOT NULL)""".format(x=spec)
spec_barcodes = pd.read_sql(sql=query_barcodes, con= engine_Zeus)

barcodes_list = spec_barcodes['ID_BARCODE'].tolist()
barcodes_tuple = tuple(barcodes_list)

query_TU = """ SELECT  * FROM IT_ST_CAR_FIN_MUL38.MM_RESULTS WHERE (Barcode IN {barcodes}) 
AND Data_ora BETWEEN '{start_date}' AND '{end_date}'""".format(barcodes=barcodes_tuple,start_date=start_time_day,end_date=end_time)
barcodes_TU = pd.read_sql(sql=query_TU, con= engine_Zeus)


# WHERE (MM_TM_Testing_code ='13') AND Data_ora BETWEEN '{start_date}' AND '{end_date}' 

# """ SELECT [TRC_BARCODE] FROM IT_ST_CAR_FAC_PCS02.HIS_TRC_BASIC_TABLE LIMIT 10"""





# query_mm_res =""" SELECT  *
# FROM IT_ST_CAR_FIN_MUL38.MM_RESULTS
# WHERE (MM_TM_Testing_code ='13') AND Data_ora BETWEEN '{start_date}' AND '{end_date}' 
# """.format(start_date=start_day.strftime('%Y-%m-%d %H:%M:%S'), end_date=end_day.strftime('%Y-%m-%d %H:%M:%S'))

# mm_res = pd.read_sql(sql=query_mm_res, con= engine_Zeus)